nav {
    display: none;
}

header {
    background-color: white;
}

header > h1 {
    color: darkgray;
}

.programBlock {
    display: none;
}

nav + p {
    display: none;
}

h4 + p, h4 + p + p {
    display: inline-block;
    padding: 0.2em;
    border: 1px solid black;
    border-radius: 5px;
}

h4, h2 {
    margin-bottom: 1em;
}

table {
    border-collapse: collapse;
    width: 80%;
}

table, tr, th, td {
    border: 1px solid black;
}

tr {
    text-align: left;
}

footer {
    background-color: white;
}

footer > p {
    color: black;
}