<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<connectionStrings>
		<add name="ProcurementSystem.Properties.Settings.YummyRestaurantLimitedConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\YummyRestaurantLimited.mdb"
            providerName="System.Data.OleDb" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="logPath" value="log.txt"/>
		<add key="dbConnStr" value="Provider=Microsoft.JET.OLEDB.4.0; Data Source=YummyRestaurantLimited.mdb"/>
	</appSettings>
</configuration>